// Footer
footer#footer.footer-light
    .footer-content
      .container
        .row
          .col-md-4
            // Footer widget area 1
            .widget.clearfix.widget-contact-us(style="background-image: url('images/world-map-dark.png'); background-position: 50% 20px; background-repeat: no-repeat")
              h4 Lume Lighting
              ul.list-icon
                li
                  i.fa.fa-map-marker
                  |  Via Mantegna 40
                  br
                  |  Roseto Degli Abruzzi TE, 64026
                li
                  i.fa.fa-phone
                  |  +39.3713986173
                li
                  i.fa.fa-envelope
                  a(href='mailto:first.last@example.com') marco di febo...
              // Social icons
              .social-icons.social-icons-border.float-left.m-t-20
                ul
                  li.social-facebook
                    a(href='#')
                      i.fa.fa-facebook
                  li.social-youtube
                    a(href='#')
                      i.fa.fa-youtube
              // end: Social icons
            // end: Footer widget area 1
    .copyright-content
      .container
        .copyright-text.text-center
          | &copy; 2018 LUME LIGHTING - CREATIVE LIGHT. All Rights Reserved.
          a(href='#', target='_blank') LUME ACADEMY
// end: Footer