.cookieNotify.modal-strip.modal-bottom.cookie-notify(data-delay='1000', data-expire='30', data-name='websiteCookieslumelighting.com')
  .container
    .row
      .vertical-align
        .col-md-8.text-sm-center.sm-center.sm-m-b-10.m-t-5
          | Questo sito utilizza cookies per rendere al meglio la vostra navigazione. 
          a.text-light(href='#')
            span
              | 
              i.fa.fa-info-circle
        .col-md-4.text-right.sm-text-center.sm-center
          button.btn.btn-rounded.btn-sm.m-r-10.modal-close(type='button') Rifiuta
          button.btn.btn-light.btn-rounded.btn-outline.btn-sm.modal-confirm(type='button') Accetta
// Footer
footer#footer.footer-light
  .footer-content
    .container
      .row
        .col-md-4
          .widget.widget-contact-us(style="background-image: url('images/world-map-dark.png'); background-position: 50% 20px; background-repeat: no-repeat")
            h4 Lume Lighting
            br
            br
            br
            br
            br
            br
        .col-md-4
          .grid-item
            .widget
             h4.widget-title Seguimi su
             .social-icons.social-icons-medium.social-icons-rounded.social-icons-colored
                ul
                  li.social-facebook
                    a(href='https://www.facebook.com/profile.php?id=100008548147932')
                      i.fa.fa-facebook
                  li.social-youtube
                    a(href='https://www.youtube.com/channel/UCog2U5e7sd0L5vNJvMbJTNA?view_as=subscriber')
                      i.fa.fa-youtube
                  li.social-linkedin
                    a(href='https://www.linkedin.com/feed/')
                      i.fa.fa-linkedin
  .copyright-content
    .container
      .copyright-text.text-center
        | &copy; 2018 LUME LIGHTING - CREATIVE LIGHT. All Rights Reserved.
a#goToTop
  i.fa.fa-angle-up.top-icon
  i.fa.fa-angle-up