// Wrapper
#wrapper
// Header
header#header.header-transparent.header-fullwidth.header-plain.dark
  #header-wrap
    .container
      // Navigation Resposnive Trigger
      #mainMenu-trigger
        button.lines-button.x
          span.lines
      // end: Navigation Resposnive Trigger
      // Navigation
      #mainMenu.light
        .container
          nav
            ul
              li
                a(href='https://www.lumelight.it') Home
              li.dropdown
                a(href='https://www.lumelight.it/servizi') Servizi
                ul.dropdown-menu
                  li
                    a(href='https://www.lumelight.it/live') Live
                  li
                    a(href='https://www.lumelight.it/televisivo') Televisivo
                  li
                    a(href='https://www.lumelight.it/teatri') Teatri
                  li
                    a(href='https://www.lumelight.it/navale') Navale
                  li
                    a(href='https://www.lumelight.it/disco&club') Disco|Club
              li
                a(href='https://www.lumelight.it/corsi') Corsi
              li
                a(href='https://www.lumelight.it/about') About
              li
                a(href='https://www.lumelight.it/contatti') Contatti                            
// end: Header              