// Wrapper
#wrapper
// Header
header#header.header-transparent.header-fullwidth.header-plain.dark
  #header-wrap
    .container
      // Logo
      #logo
        a.logo(href='https://www.lumelight.it') LUME LIGHITNG
          //img(src='images/logo.png', alt='Logo Lume')
      // End: Logo
      // Navigation Resposnive Trigger
      #mainMenu-trigger
        button.lines-button.x
          span.lines
      // end: Navigation Resposnive Trigger
      // Navigation
      #mainMenu.light
        .container
          nav
            ul
              li.dropdown
                a(href='https://www.lumelight.it') Home
              li.dropdown
                a(href='https://www.lumelight.it/servizi') Servizi
                ul.dropdown-menu
                  li
                    a(href='https://www.lumelight.it/live') Live
                  li
                    a(href='https://www.lumelight.it/televisione') Televisione
                  li
                    a(href='https://www.lumelight.it/teatri') Teatri
                  li
                    a(href='https://www.lumelight.it/navi') Navi
              li
                a(href='https://www.lumelight.it/corsi') Corsi
              li
                a(href='https://www.lumelight.it/about') About
              li
                a(href='https://www.lumelight.it/contatti') Contatti                            
// end: Header              