extends layout
block content
    section.parallax.fullscreen.background-image(style='background-image:url(images/marco1.jpg);')              
    .container
        .heading.heading.text-left
        h1 Marco Di Febo
        .row
            .col-md-4(data-animation='fadeInUp', data-animation-delay='600')
                p
                | LUME Lighting nasce da un’idea di Marco Di Febo e vuole, già dalla genesi del nome, imporsi come punto di riferimento e convergenza dei vari settori dell’intrattenimento attraverso tecnologia, risparmio e rispetto per l’ambiente.
                | Nato dall’idea di supportare  tutte le fasi progettuali di lighting designers, registi, scenografi, macchinisti, team creativo, Lume Lighting ha sviluppato esperienza, dedizione, passione e know how affinando il proprio artigianato tecnologico affinché il progetto finale risulti essere sempre impeccabile, funzionale e innovativo.
                br
                br
            .col-md-4(data-animation='fadeInUp', data-animation-delay='600')
                p
                | La visione finale e la possibilità di poter interagire praticamente con tali progetti stimola ed aiuta la creatività portandola ad un livello superiore.
                | Programmare e creare un progetto luci comodamente su software anziché sul posto riduce drasticamente i costi d’esercizio, i tempi di realizzazione ed aiuta a salvaguardare l’ambiente riducendo le emissioni si CO2.    
            .col-md-4(data-animation='fadeInUp', data-animation-delay='600')
                h2 Info
                .hr.space
                a(href='images/backstage.pdf' download) Backstage
                a(href='https://www.facebook.com/pg/sundrax/photos/?tab=album&album_id=1508163102614962') Sundruks
                a(href='http://www.rmmultimedia.it/it/2/188/news-miss-italia-2017-con-robe-e-jands-vista.html') Miss Italia 2017              