extends layout
block content
    // Page title
    section#page-title.page-title-center(data-parallax-image='images/teatro.jpg')
        .container
            .page-title
                h1 Contatti
        .breadcrumb
            ul
                li
                a(href='#') Home
                li
                a(href='#') Portfolio
                li.active
                a(href='#') Hover Styles
    // end: Page title
    // CONTENT
    section
        .container
            .row
                .col-md-6
                    h3.text-uppercase I miei contatti
                    p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum porttitor cursus. Duis nec nulla turpis. Nulla lacinia laoreet odio, non lacinia nisl malesuada vel. Aenean malesuada fermentum bibendum.
                    p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
                    .row.m-t-40
                        .col-md-12
                            address
                            strong Lume Lighting
                            br
                            | &#x9;&#x9;&#x9;  via Mantegna
                            br
                            | &#x9;&#x9;&#x9;  Roseto Degli Abruzzi
                            br
                            abbr(title='Phone') P:
                            |  (123) 456-7890
                .col-md-6
                    form.widget-contact-form(action='#', role='form', method='post')
                    .row
                        .form-group.col-sm-6
                        label(for='name') Nome
                        input.form-control.required.name(type='text', aria-required='true', name='widget-contact-form-name', placeholder='Enter your Name')
                        .form-group.col-sm-6
                        label(for='email') Email
                        input.form-control.required.email(type='email', aria-required='true', name='widget-contact-form-email', placeholder='Enter your Email')
                    .row
                        .form-group.col-sm-12
                        label(for='subject') Oggeto
                        input.form-control.required(type='text', name='widget-contact-form-subject', placeholder='Subject...')
                    .form-group
                        label(for='message') Messaggio
                        textarea.form-control.required(type='text', name='widget-contact-form-message', rows='5', placeholder='Enter your Message')
                    .form-group
                        //script(src='https://www.google.com/recaptcha/api.js')
                        //.g-recaptcha(data-sitekey='6LddCxAUAAAAAKOg0-U6IprqOZ7vTfiMNSyQT2-M')
                    button#form-submit.btn.btn-default(type='submit')
                        i.fa.fa-paper-plane
                        | &nbsp;Invia
            // end: CONTENT
    // MAP            
    section#map
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.931129047255!2d14.003608615466597!3d42.68400117916652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2d933541e354cb2b!2sLume+Lighting!5e0!3m2!1sit!2sit!4v1519034810932', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
    // end: MAP