extends layout
block content
    section.parallax.fullscreen.background-image(style='background-image:url(images/corsi.jpg);')              
    .container
        .heading.heading.text-left
            hr.space
            .page-title
                h1 Corsi di pre-preprogrammazione
        h2 Stiamo organizzando i corsi professionali sulle tecnologie e strumenti applicati nella pre-visualizzazione e pre-programmazione
        h3 Presto sarà reso disponibile il calendario
        h4 Se vuoi rimanere aggiornato su anteprime o il calendario definitivo, ti invitiamo a contattarci.
        .row
            .text-center 
             a.btn.btn-lg(href='https://www.lumelight.it/contatti') Contatti
            br
            br