extends layout
block content
  // SECTION IMAGE FULLSCREEN
  section.fullscreen.background-image(style='background-image:url(images/sfondo.jpg);')
    #particles-js.particles
    .container-fluid
      .container-fullscreen
        .text-middle.text-center.text-light
          //h3.m-b-0 LIGHTING DESIGN PROGRAMMING AND PRE-VISUALIZATION
          //h2.text-large.m-t-0 Lume Lighting
          img(src='images/logo.svg', alt='Logo Lume', width='300px')
          //a.btn.btn-primary(href='#youtube') Scopri il futuro
  // end: SECTION IMAGE FULLSCREEN
  // COMPANY
  section#p-b-10
    .container
        .row
          .col-md-6
            .heading.heading.text-left
              h1 LIGHTING DESIGN PROGRAMMING AND PRE-VISUALIZATION
              span.lead
                | Lume Lighting è in grado di progettare, programmare e pre-visualizzare un evento nelle sue singole complessità e forme artistiche già prima che lo spettacolo stesso si compia attraverso l’utilizzo di innovative tecnologie all’avanguardia. Il successo di un evento, infatti, si basa su un'attenta valutazione delle problematiche e dalla capacità di individuare le giuste soluzioni tecniche/artistiche necessarie alla sua buona riuscita. Questo è il motivo per il quale Lume Lighting è nata ed è in continuo sviluppo.
                | LUME Lighting, le tue idee in luce.
          .col-md-6.m-t-60
              img(src='images/teatro.jpg', alt='Logo Lume', width="100%")
  // end: COMPANY
  // SECTION TEXT ROTATOR
  section#text-rotatory
    .container-fullscreen.text-center
      .text-middle
        h4(data-animation='fadeInUp', data-animation-delay='1200') Pre-visualizzazione dell'illuminazione
        h1.text-large(data-animation='fadeIn', data-animation-delay='500')
          span.text-rotator(data-rotate-effect='fadeIn', data-rotate-speed='3000') THE POWER , OF WYSING, WHIT, LUME LIGHTING
        a.btn.btn-primary(href='https://www.lumelight.it/servizi') Settori di applicazione
  // END :SECTION TEXT ROTATOR
  // SECTION IMAGE FULLSCREEN
  section#youtube
    .container
      iframe(width='560', height='315', src='https://www.youtube.com/embed/wAaDXeBzFh0?rel=0&controls=0&showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
  .seperator.p-b-0.p-t-0
    i.fa.fa-chevron-down
  // CLIENTS
  section
    .container
      .heading.heading-center
        h2 Collaborazioni
        span.lead 
      ul.grid.grid-5-columns
        li
          a(href='#')
            img(src='images/robe-multimedia.jpg', alt='')
        li
          a(href='#')
            img(src='images/iociprovo.jpg', alt='')
        li
          a(href='#')
            img(src='images/cm-logo18.jpg', alt='')
        li
          a(href='#')
            img(src='images/costa_logo.jpg', alt='')
        li
          a(href='#')
            img(src='images/logo_msc.jpg', alt='')
    br
    br
    img(src='images/FARO_FRONT.svg', alt='Logo Lume', width="100%")
        