extends layout
block content
  section.fullscreen.background-image(style='background-image:url(images/sfondo.jpg);')
    #particles-js.particles
    .container-fluid
      .container-fullscreen
        .text-middle.text-center.text-light
          img(src='images/logo.svg', alt='Logo Lume Lighting', width='300px')
  section#text-rotatory
    .container-fullscreen.text-center
      .text-middle
        h1(data-animation='fadeInUp', data-animation-delay='1200') PRE-PROGRAMMAZIONE | PRE-VISUALIZZAZIONE
        h2.text-large(data-animation='fadeIn', data-animation-delay='500') 
          span.text-rotator(data-rotate-effect='fadeIn', data-rotate-speed='3000') LA POTENZA DEL WYSIWYG CON, LUME LIGHTING 3 DESIGN
        img(src='images/wysiwyg.jpg', alt='Logo Wisiwyg Cast Software', width='300px')
  .seperator.p-b-0.p-t-0
    i.fa.fa-chevron-down
  section#p-b-10
    .container
        .row
          h2 Le tue idee in luce
          .col-md-6.m-t-60
            .heading.heading.text-left
              span.lead
                h6 Lume Lighting è in grado di progettare, programmare e pre-visualizzare un evento nelle sue singole complessità e forme artistiche già prima che lo spettacolo stesso si compia attraverso l’utilizzo di innovative tecnologie all’avanguardia. 
                h6 Il successo di un evento, infatti, si basa su un'attenta valutazione delle problematiche e dalla capacità di individuare le giuste soluzioni tecniche/artistiche necessarie alla sua buona riuscita.
          .col-md-6.m-t-60
            .heading.heading.text-left
              span.lead  
                h6 Questo è il motivo per il quale Lume Lighting è nata ed è in continuo sviluppo.
                br
                img(src='images/teatro.jpg', alt='immagine wysiwyg di un teatro', width='100%')
        a.btn.btn-lg(href='https://www.lumelight.it/servizi') Settori di applicazione
  .seperator.p-b-0.p-t-0
    i.fa.fa-chevron-down
  section#youtube
    .container
      iframe(width='560', height='315', src='https://www.youtube.com/embed/wAaDXeBzFh0?rel=0&controls=0&showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
  .seperator.p-b-0.p-t-0
    i.fa.fa-chevron-down
  section#collaborazioni
    .container
      .heading.heading-center
        h2 Collaborazioni
        span.lead 
      ul.grid.grid-5-columns
        li
          a(href='#')
            img(src='images/robe-multimedia.jpg', alt='logo robe multimedia')
        li
          a(href='#')
            img(src='images/iociprovo.jpg', alt='logo iociprovo')
        li
          a(href='#')
            img(src='images/cm-logo18.jpg', alt='logo cm18')
        li
          a(href='#')
            img(src='images/costa_logo.jpg', alt='logo costa crociere')
        li
          a(href='#')
            img(src='images/logo_msc.jpg', alt='logo msc crociere')
    br
  section.fullscreen.background-image(style='background-image:url(images/call2.jpg);')  
    #text-rotatory
      #calltoaction
        .container-fluid
          .container-fullscreen
            .text-right
              br
              br
              h2 Scopri i vantaggi della pre-programmazione
              h2 Contattaci per ricevere una consulenza
                br
                span.text-rotator(data-rotate-effect='fadeIn', data-rotate-speed='3000') GRATUITA
              a.btn.btn-lg(href='https://www.lumelight.it/contatti') Richiedi
          