include layout
block content
.works-container
  img(src='images/auditorium.jpg', alt='auditorim', width='100%')
.works-claim
  h1 The power of wysiwyg 
  |
  p
  |Crea disegni CAD accurati del tuo progetto con elementi scenici, tralicci, infissi e accessori, gestisci ed esporta rapidamente i tuoi documenti, inclusi grafici e rapporti che ti aiuteranno a comunicare il tuo progetto.









//*section
    svg(version='1.0' width='500px', height='200px')
      animatetransform(attributename='transform', attributetype='XML', type='rotate', from='0 90 60', to='90 60 70', dur='5s', repeatcount='indefinite')  
      metadata
        | Created by Potrace Professional 1.1m
      g(transform='translate(-201.436141,281.783567) rotate(-360.00) scale(0.095238,-0.095238)', fill='#000000', stroke='none')
        path(d='M3165 2422 c-24 -7 -65 -32 -92 -56 l-49 -43 0 -652 0 -652 221 0\
        220 0 0 652 0 652 -49 43 c-72 64 -156 83 -251 56z m152 -20 c28 -7 63 -26 85\
        -47 l37 -34 -194 0 -194 0 34 33 c33 34 138 74 169 65 8 -3 36 -10 63 -17z\
        m138 -307 l0 -205 -210 0 -210 0 0 205 0 205 210 0 210 0 0 -205z m0 -378 l0\
        -163 -210 0 -210 0 0 163 0 163 210 0 210 0 0 -163z m0 -226 l0 -52 -210 0\
        -210 0 0 52 0 53 210 0 210 0 0 -53z m0 -110 l0 -37 -210 0 -210 0 0 37 0 37\
        210 0 210 0 0 -37z m0 -110 l0 -53 -210 0 -210 0 0 53 0 52 210 0 210 0 0 -52z\
        m0 -147 l0 -84 -210 0 -210 0 0 84 0 84 210 0 210 0 0 -84z')
        path(d='M2772 974 c0 -43 -13 -52 -61 -41 -50 11 -58 4 -68 -64 -6 -39 -6\
        -40 34 -46 66 -10 67 -12 49 -104 -8 -46 -13 -87 -10 -91 6 -11 1051 -11 1057\
        -1 2 5 -10 90 -28 189 l-32 182 -470 0 -471 0 0 -24z m857 -26 l-50 -38 -332\
        -1 -333 -1 -51 40 -52 39 434 0 433 0 -49 -39z m-693 -117 c19 -44 20 -56 9\
        -82 -22 -52 -83 -95 -149 -103 -31 -4 -59 -6 -60 -4 -2 2 10 77 26 167 17 89\
        30 164 31 166 0 1 27 -19 61 -45 44 -35 67 -62 82 -99z m791 -25 c16 -88 28\
        -162 26 -164 -1 -2 -29 0 -61 4 -66 8 -133 56 -151 107 -16 47 22 120 92 176\
        32 25 59 44 62 42 2 -2 16 -76 32 -165z m-994 101 c-7 -3 -21 -3 -32 -1 -10 3\
        -4 5 13 5 18 1 26 -2 19 -4z m17 -32 c3 -2 2 -6 -2 -10 -10 -10 -81 6 -81 18\
        0 9 71 3 83 -8z m342 -31 c4 -21 5 -39 4 -40 -2 -2 -31 -6 -63 -9 l-60 -6 -16\
        42 c-10 22 -17 43 -17 46 0 3 33 5 72 5 l73 0 7 -38z m287 -4 l-11 -42 -123 0\
        -124 0 -11 42 -10 42 145 0 144 0 -10 -42z m170 37 c0 -3 -7 -24 -17 -46 l-16\
        -42 -60 6 c-32 3 -61 7 -63 9 -1 1 0 19 4 40 l7 38 73 0 c39 0 72 -2 72 -5z\
        m-848 -33 c-7 -3 -21 -3 -31 -1 -10 3 -5 5 13 5 17 1 25 -2 18 -4z m47 -10\
        c-3 -4 -12 -4 -20 -1 -8 3 -6 6 6 6 11 1 18 -2 14 -5z m344 -120 c-34 -34 -65\
        -59 -69 -55 -6 7 -41 105 -41 115 0 1 39 3 86 3 l87 0 -63 -63z m289 -5 l68\
        -68 -204 0 -205 0 68 68 68 68 69 0 68 0 68 -68z m126 65 c0 -10 -35 -108 -41\
        -115 -4 -4 -35 21 -69 55 l-63 63 87 0 c47 0 86 -2 86 -3z m-520 -70 c8 -26 8\
        -26 -13 -7 -12 10 -19 26 -16 34 7 19 19 8 29 -27z m534 -3 c-23 -25 -28 -18\
        -14 19 9 24 14 27 21 15 6 -10 4 -22 -7 -34z m-549 -34 l24 -26 -31 1 c-16 0\
        -42 4 -56 8 l-26 7 26 18 c32 23 33 23 63 -8z m608 8 l26 -18 -26 -7 c-14 -4\
        -40 -8 -56 -8 l-31 -1 25 26 c29 31 30 31 62 8z')
        svg(version='1.0', xmlns='http://www.w3.org/2000/svg', width='500px', height='200px', transform="rotate(160)",viewbox='50 50 42.257463 172.870359', preserveaspectratio='xMidYMid meet') 
        g(transform='translate(-201.436141,281.783567) rotate(-360.00) scale(0.095238,-0.095238)', fill='#000000', stroke='none')
        path(d='M4280 3103 c-76 -119 -84 -183 -91 -672 -3 -231 -8 -469 -11 -528 -6\
        -101 -4 -115 33 -241 37 -130 40 -136 90 -179 l52 -44 221 0 221 0 53 50 c51\
        49 55 57 87 172 l33 120 -9 535 c-7 416 -12 548 -24 593 -9 32 -16 70 -17 84\
        0 14 -18 54 -40 89 l-39 63 -265 3 -264 2 -30 -47z m70 -26 c-18 -43 -27 -53\
        -47 -53 l-25 0 27 53 c18 35 33 52 47 52 19 0 19 -1 -2 -52z m107 46 c0 -3 -5\
        -27 -12 -52 -11 -46 -13 -47 -53 -47 -29 0 -41 4 -37 13 2 7 11 31 19 53 12\
        34 18 39 48 39 19 0 35 -3 35 -6z m105 -46 l0 -53 -52 0 c-58 0 -60 2 -42 66\
        10 37 13 39 52 39 l42 0 0 -52z m109 34 c3 -10 8 -34 12 -53 l7 -34 -54 0 -53\
        0 0 53 0 52 41 0 c31 0 43 -5 47 -18z m94 -11 c8 -16 18 -39 22 -52 7 -22 4\
        -24 -34 -24 -40 0 -42 1 -53 47 -16 61 -17 58 19 58 24 0 35 -7 46 -29z m75\
        -23 l27 -53 -25 0 c-20 0 -29 10 -47 53 -21 51 -21 52 -2 52 14 0 29 -17 47\
        -52z m-552 -84 c-28 -22 -34 -22 -24 3 3 10 16 18 27 18 20 0 20 -2 -3 -21z\
        m85 11 c-9 -5 -28 -13 -42 -17 -23 -7 -25 -6 -12 9 8 10 27 17 42 17 21 0 24\
        -2 12 -9z m318 -51 c-65 -2 -172 -2 -237 0 l-118 3 120 26 120 27 116 -27 117\
        -26 -118 -3z m134 45 c15 -19 6 -19 -42 0 l-37 14 33 1 c18 0 38 -7 46 -15z\
        m56 -2 c10 -25 4 -25 -24 -3 -23 19 -23 21 -3 21 11 0 24 -8 27 -18z m6 -74\
        c0 -5 -21 -31 -46 -58 l-46 -50 -222 0 -223 0 -46 50 c-25 27 -46 53 -46 58 0\
        4 141 8 315 8 173 0 314 -4 314 -8z m-556 -705 l0 -592 -33 6 c-18 4 -39 7\
        -47 7 -12 0 -14 104 -14 638 l0 638 47 -53 46 -52 1 -592z m575 -574 c-2 -2\
        -23 -6 -47 -10 l-45 -7 0 589 0 590 45 53 44 53 3 -633 c1 -348 1 -634 0 -635z\
        m-113 1116 c0 -25 -3 -84 -7 -131 l-7 -87 -207 0 -206 0 -7 80 c-4 45 -7 104\
        -7 132 l0 51 221 0 220 0 0 -45z m-10 -664 l0 -425 -210 0 -210 0 0 425 0 425\
        210 0 210 0 0 -425z m-570 -181 c-2 -103 -3 -21 -3 181 0 202 1 286 3 187 2\
        -99 2 -265 0 -368z m724 -5 c-1 -100 -3 -21 -3 175 0 197 2 278 3 182 2 -96 2\
        -257 0 -357z m-149 -271 c4 -7 -70 -10 -215 -10 -146 0 -220 3 -216 10 4 6 88\
        11 216 11 127 0 211 -5 215 -11z m-504 -31 c-29 -13 -37 -13 -37 0 0 5 13 10\
        29 9 25 0 26 -2 8 -9z m614 0 c0 -13 -8 -13 -37 0 -18 7 -17 9 8 9 16 1 29 -4\
        29 -9z m-197 -8 c-71 -2 -186 -2 -257 0 -71 1 -13 3 129 3 141 0 199 -2 128\
        -3z m187 -40 c0 -13 -42 -15 -315 -15 -273 0 -315 2 -315 15 0 14 42 16 315\
        16 273 0 315 -2 315 -16z m-63 -68 l-37 -31 -215 0 -216 0 -36 31 -36 32 288\
        -1 288 0 -36 -31z')*//