extends layout
block content
    // SECTION IMAGE FULLSCREEN
    section.parallax.fullscreen.background-image(style='background-image:url(images/live1.jpg);')              
    // end: SECTION IMAGE FULLSCREEN
    // DDESCRIPTION H1-H2-H3
    .container
        h1.font-raleway LIVE SHOW
        .row
            .col-md-6(data-animation='fadeInUp', data-animation-delay='300')
                p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis.
                br
                br
                | Facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius.
            .col-md-6(data-animation='fadeInUp', data-animation-delay='600')
                p
                | Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo.
                br
                br
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volut.