extends layout
block content
    section.parallax.fullscreen.background-image(style='background-image:url(images/live.jpg);')              
    .container
        .heading.heading.text-left
        h1 LIVE SHOW
        h2 Sottotitolo
        .row
            .col-md-6(data-animation='fadeInUp', data-animation-delay='600')
                p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis.
                br
                br
                | Facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius.
            .col-md-6(data-animation='fadeInUp', data-animation-delay='600')
                p
                | Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo.
                br
                br
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volut.
    section.gallery
    .hr-title.hr-long.center
        abbr Altri settori
    .carousel
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    a(href='https://www.lumelight.it/navale')
                    img(src='images/nave1.jpg', alt='wysiwing settore navale')
                .portfolio-description
                    h3 Settore Navale
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    a(href='https://www.lumelight.it/televisivo')
                    img(src='images/televisivo.jpg', alt='wysiwing settore televisivo')
                .portfolio-description
                    h3 Settore televisivo
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    a(href='https://www.lumelight.it/teatri')
                    img(src='images/navi.jpg', alt='wysiwing settore teatri')
                .portfolio-description
                    h3 Teatro
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    a(href='https://www.lumelight.it/disco-club')
                    img(src='images/disco&club.jpg', alt='wysiwing settore disco e club')
                .portfolio-description
                    h3 Disco e Club