extends layout
block content
    section.parallax.fullscreen.background-image(style='background-image:url(images/nave2.jpg);')              
    .container
        .heading.heading.text-left
        h1 Settore navale
        h2 Sottotitolo
        .row
            .col-md-6(data-animation='fadeInUp', data-animation-delay='300') 
                p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis.
                br
                br
                | Facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius.
                p
                | Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo.
                p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volut.
            .col-md-6(data-animation='fadeInUp', data-animation-delay='600')    
                .hr-title.hr-long.center
                    abbr
                        | Teatro Nave
                img(src='images/nave1.jpg', alt='Teatro Nave', width='100%')
    br
    br
    // SECTION IMAGE FULLSCREEN
    section#youtube
        .container
            iframe(width='560', height='315', src='https://www.youtube.com/embed/Unt9RC930w4?rel=0&amp;controls=0&amp;showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')