extends layout
block content
    // SECTION IMAGE FULLSCREEN
    section#section1.parallax.halfscreen(style="background: url('images/teatro.jpg')")
        .container.text-light.text-right
        .container-fullscreen
            .text-middle
            .heading-hero(data-animation='fadeInDown', data-animation-delay='100') Corsi
            p.lead(data-animation='fadeInDown', data-animation-delay='300') Tecnologia applicata 
    // end: SECTION IMAGE FULLSCREEN