extends layout
block content
    // SECTION IMAGE FULLSCREEN
    section#section1.parallax.halfscreen(style="background: url('images/teatro.jpg')")
        .container.text-light.text-right
            .container-fullscreen
                .text-left
                    .heading-hero(data-animation='fadeInDown', data-animation-delay='100') Servizi
                    p.lead(data-animation='fadeInDown', data-animation-delay='300') Tecnologia applicata 
    // end: SECTION IMAGE FULLSCREE
    // ABOUT ME
    section#section-about.p-b-40
    .container
        h2.font-raleway LUME LIGHTING...
        .row
        .col-md-6(data-animation='fadeInUp', data-animation-delay='300')
            p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis.
            br
            br
            | Facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius.
        .col-md-6(data-animation='fadeInUp', data-animation-delay='600')
            p
            | Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo.
            br
            br
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volut.
    // end: ABOUT ME
    .container
        .portfolio-2-columns
        // portfolio item
        .portfolio-item.p-20.hover-3d.img-zoom.pf-illustrations.pf-media.pf-icons.pf-Media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/teatro.jpg', alt='')
                .portfolio-description
                    h3 Settore Navale
        // end: portfolio item
        // portfolio item
        .portfolio-item-wrap
            h3 Testo Prova
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis.
    // end: portfolio item
