extends layout
block content
    // SECTION IMAGE FULLSCREEN
    section#section1.parallax.halfscreen(style="background: url('images/teatro.jpg')")
        .container.text-light.text-right
            .container-fullscreen
                .text-left
                    .heading-hero(data-animation='fadeInDown', data-animation-delay='100') Servizi
                    p.lead(data-animation='fadeInDown', data-animation-delay='300') 
    // end: SECTION IMAGE FULLSCREE
    // ABOUT ME
    section#section-about.p-b-40
    .container
        h1.font-raleway LUME LIGHTING...
        .row
        .col-md-6(data-animation='fadeInUp', data-animation-delay='300')
            p 
            | LUME Lighting nasce dall’idea di supportare ed aiutare i lighting designers in tutte le fasi progettuali attraverso strumenti tecnologici ed innovativi. La visione della struttura finale del progetto e la possibilità di poter interagire con essa avvantaggia avvantaggia la creatività e l’efficienza tecnico, artistico.
            | Ottimizzare la fase creativa e quella esecutiva farà diminuire i tempi di messa in opera riducendo drasticamente i costi di esercizio, differenziati e meglio distribuiti, consentendo alle varie categorie di operatori di lavorare in sincronia.
            | Troppe volte succede di trovarsi in ritardo nella preparazione di uno spettacolo, di una installazione. Troppo tempo spesso viene perso alla ricerca di idee valide proprio sul posto, prenotando magari spazi costosi o a volte impraticabili, lavorando in affanno nella continua lotta contro il tempo.
            | Programmare e creare un progetto luci comodamente su software anziché sul posto è la nostra piccola grande rivoluzione della progettazione che inizierà molto prima rispetto al tradizionale modo di operare: il grande vantaggio sarà quello di arrivare sul sito dello show con un setup e uno spettacolo completamente programmato. 
            | Nessuna apparecchiatura inutilizzata, nessun lavoro superfluo.
            | Per Venue complesse, utilizziamo il Laser Scan per avere un rilievo topografico in 3D dell’ambiente che c’interessa. È uno strumento che consente di generare, con precisione millimetrica, un modello digitale in cui poter applicare, testare e modificare le proprie idee e vederne in tempo reale i risultati.
        .col-md-6(data-animation='fadeInUp', data-animation-delay='600')
            p 
            | Completata l’acquisizione, gestiamo il modello dal software dedicato e lo rielaboriamo con altre applicazioni di gestione 2D e 3D per poi ottimizzarlo e trasferirlo nel software di pre-visualizzazione Wysiwyg.
            | Wysiwyg è un software di progettazione illuminotecnica all-in-one con controllo CAD, plot, dati, visualizzazione e virtual show completamente integrato. Wysiwyg offre la più grande libreria CAD con migliaia di oggetti 3D tra cui scegliere per progettare l'intero spettacolo.
            | Questo software originale ci permetterà di eliminare completamente il disegno manuale e di poter accedere direttamente a tutte le informazioni tecniche che personalizzano il nostro progetto. 
            | L’eccellente funzione di importazione consentirà di caricare anche in scala i dati in nostro possesso nei formati più diffusi, per creare infine un modello specifico sul quale intervenire e velocizzare il processo di progettazione, dai precisi fogli di calcolo integrati fino ad esplorare in tempo reale l’ambiente virtuale della simulazione in 3D.
            | La possibilità di creare facilmente grafici e report consentirà la massima chiarezza e precisione nella comunicazione tecnica con il team, ottimizzando un lavoro che passa attraverso progettisti e designer fino ad arrivare ai tecnici che opereranno fisicamente sul posto
    hr.space
    .hr-title.hr-long.center
        abbr
            | Spettacoli Live | Televisi
    .portfolio-2-columns
        .portfolio-item.p-20.hover-3d.img-zoom.pf-illustrations.pf-media.pf-icons.pf-Media
            .portfolio-item-wrap
                .portfolio-image
                    a(href='http://138.68.186.102/live')
                        img(src='images/live.jpg', alt='')
                .portfolio-description
                        a.btn.btn(href='https://www.lumelight.it/live') Live
    .portfolio-2-columns
        .portfolio-item.p-20.hover-3d.img-zoom.pf-illustrations.pf-media.pf-icons.pf-Media
            .portfolio-item-wrap
                .portfolio-image
                        img(src='images/teatro-gigi.jpg', alt='')
                .portfolio-description
                        a.btn.btn(href='https://www.lumelight.it/televisivo') Televisione
    hr.space
    .hr-title.hr-long.center
        abbr
            | Spettacoli teatrali | Settore Navale
    .portfolio-2-columns
        .portfolio-item.p-20.hover-3d.img-zoom.pf-illustrations.pf-media.pf-icons.pf-Media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/teatro-gigi.jpg', alt='')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/teatri') Teatro
    .portfolio-2-columns
        .portfolio-item.p-20.hover-3d.img-zoom.pf-illustrations.pf-media.pf-icons.pf-Media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/costa.jpg', alt='')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/navale') Navi
    hr.space
    .hr-title.hr-long.center
        abbr
            | Modelli | Disco e Club 
    .portfolio-2-columns
        .portfolio-item.p-20.hover-3d.img-zoom.pf-illustrations.pf-media.pf-icons.pf-Media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/modelli3d.jpg', alt='')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/modelli') Modelli 3D
    .portfolio-2-columns
        .portfolio-item.p-20.hover-3d.img-zoom.pf-illustrations.pf-media.pf-icons.pf-Media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/disco&club.jpg', alt='')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/disco-club') Disco e Club
    hr.space