extends layout
block content
    // SECTION IMAGE FULLSCREEN
    section#section1.parallax.halfscreen(style="background: url('images/teatro.jpg')")
        .container.text-light.text-right
            .container-fullscreen
                .text-left
                    .heading-hero(data-animation='fadeInDown', data-animation-delay='100') Servizi
                    p.lead(data-animation='fadeInDown', data-animation-delay='300') 
    // end: SECTION IMAGE FULLSCREE
    // ABOUT ME
    section#section-about.p-b-40
    .container
        h1.font-raleway LUME LIGHTING...
        .row
        .col-md-6(data-animation='fadeInUp', data-animation-delay='300')
            p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis.
            br
            br
            | Facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius.
        .col-md-6(data-animation='fadeInUp', data-animation-delay='600')
            p
            | Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo.
            br
            br
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volut.
    // end: ABOUT ME
    //SPETTACOLI LIVE//
    hr.space
    .hr-title.hr-long.center
        abbr
            | Spettacoli Live
    .container
        .portfolio-2-columns
        // portfolio item
        .portfolio-item.p-20.hover-3d.img-zoom.pf-illustrations.pf-media.pf-icons.pf-Media
            .portfolio-item-wrap
                .portfolio-image
                    a(href='http://138.68.186.102/live')
                        img(src='images/live.jpg', alt='')
                .portfolio-description
                    a.btn.btn-light(href='https://www.lumelight.it/live') Live
        // end: portfolio item
    //end:SPETTACOLI LIVE//
    //SPETTACOLI TELEVISIVI//
    hr.space
    .hr-title.hr-long.center
        abbr
            | Spettacoli televisivi
    .container
        .portfolio-2-columns
        // portfolio item
        .portfolio-item.p-20.hover-3d.img-zoom.pf-illustrations.pf-media.pf-icons.pf-Media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/miss-italia.jpg', alt='')
                .portfolio-description
                    a.btn.btn-light(href='https://www.lumelight.it/televisione') Televisione
        // end: portfolio item
    //end:SPETTACOLI TELEVISIVI//
    //SPETTACOLI TEATRO//
    hr.space
    .hr-title.hr-long.center
        abbr
            | Spettacoli teatrali
    .container
        .portfolio-2-columns
        // portfolio item
        .portfolio-item.p-20.hover-3d.img-zoom.pf-illustrations.pf-media.pf-icons.pf-Media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/teatro-gigi.jpg', alt='')
                .portfolio-description
                    a.btn.btn-light(href='https://www.lumelight.it/teatri') Teatro
        // end: portfolio item
    //end:SPETTACOLI TEATRO//
    //SETTORE NAVALE//
    hr.space
    .hr-title.hr-long.center
        abbr
            | Settore navale
    .container
        .portfolio-2-columns
        // portfolio item
        .portfolio-item.p-20.hover-3d.img-zoom.pf-illustrations.pf-media.pf-icons.pf-Media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/costa.jpg', alt='')
                .portfolio-description
                    a.btn.btn-light(href='https://www.lumelight.it/navi') Navi
        // end: portfolio item
    //end:SPETTACOLI TEATRO//