extends layout
block content
    section#section1.parallax.halfscreen(style="background: url('images/teatro.jpg')")
        .container.text-light.text-right
            .container-fullscreen
                .text-left
                    .heading-hero(data-animation='fadeInDown', data-animation-delay='100') Servizi
                    p.lead(data-animation='fadeInDown', data-animation-delay='300') 
    section#section-about.p-b-40
    .container
        .page-title
            h1.font-raleway Le nostre competenze
        .row
            .col-md-6(data-animation='fadeInUp', data-animation-delay='300')
                p 
                | LUME Lighting nasce dall’idea di supportare ed aiutare i lighting designers, registi, scenografi, macchinisti, team creativo in tutte le fasi progettuali attraverso strumenti tecnologici ed innovativi offrendo consulenza, design e/o programmazione.  
                | La visione della struttura finale del progetto e la possibilità di poter interagire con essa avvantaggia la creatività e l’efficienza tecnica e artistica.
                | Ottimizzare la fase creativa e quella esecutiva farà diminuire i tempi di messa in opera riducendo drastica-mente i costi di esercizio, differenziati e meglio distribuiti, consentendo alle varie categorie di operatori di lavorare in sincronia.
                | Troppe volte succede di trovarsi in ritardo nella preparazione di uno spettacolo, di una installazione. Trop-po tempo spesso viene perso alla ricerca di idee valide proprio sul posto, prenotando magari spazi costosi o a volte impraticabili, lavorando in affanno nella continua lotta contro il tempo.
                | Programmare e creare un progetto luci comodamente su software anziché sul posto è la nostra piccola grande rivoluzione della progettazione che inizierà molto prima rispetto al tradizionale modo di operare. Il grande vantaggio sarà quello di arrivare sul sito dello show con un setup e uno spettacolo completamente studiato e programmato, abbattendo drasticamente i costi d’esercizio.
                | Nessuna apparecchiatura inutilizzata, nessun lavoro superfluo.
                | Per Venue complesse, utilizziamo il Laser Scan per avere un rilievo topografico dell’ambiente che c’interessa in 3D. È uno strumento che consente di generare, con precisione millimetrica, un modello digitale in cui poter applicare, testare e modificare le proprie idee e vederne in tempo reale i risultati. 
            .col-md-6(data-animation='fadeInUp', data-animation-delay='600')
                p 
                | Completata l’acquisizione, gestiamo il modello dal software dedicato e lo rielaboriamo con altre applicazio-ni di gestione 2D e 3D per poi ottimizzarlo e trasferirlo nei software di pre-visualizzazione.
                | Wysiwyg, standard nell’industria della programmazione e pre-visualizzazione, è un software di progettazio-ne illuminotecnica all-in-one con controllo CAD, Plot, Dati, Visualizzazione, Virtual Show, Real Time Rende-ring, completamente integrato ed offre la più grande libreria CAD con migliaia di oggetti 3D tra cui scegliere per progettare l'intero spettacolo.
                | Wysiwyg supporta diversi protocolli tra cui Art-Net e sACN offrendo la possibilità di visualizzare Video in locale o da MediaServer compatibili CITP, visualizzare Laser Animation e muovere scenari nello spazio 3D. 
                | Questo software originale ci permetterà di eliminare completamente il disegno manuale e di poter accede-re direttamente a tutte le informazioni tecniche da inserire nel nostro progetto. 
                | L’eccellente funzione di importazione consentirà di caricare anche in scala i dati in nostro possesso nei for-mati più diffusi, per creare infine un modello specifico sul quale intervenire e velocizzare il processo di pro-gettazione, dai precisi fogli di calcolo integrati fino ad esplorare in tempo reale l’ambiente virtuale della si-mulazione in 3D.
                | La possibilità di creare facilmente grafici e report consentirà la massima chiarezza e precisione nella comu-nicazione tecnica con il team, ottimizzando un lavoro che passa attraverso progettisti e designer fino ad ar-rivare ai tecnici che opereranno fisicamente sul posto.
    hr.space
    .hr-title.hr-long.center
        abbr
            | Spettacoli Live | Televisi
    .portfolio-2-columns
        .portfolio-item.p-20.hover-3d.img-zoom.pf-illustrations.pf-media.pf-icons.pf-Media
            .portfolio-item-wrap
                .portfolio-image
                    a(href='http://138.68.186.102/live')
                        img(src='images/live.jpg', alt='')
                .portfolio-description
                        a.btn.btn(href='https://www.lumelight.it/live') Live
    .portfolio-2-columns
        .portfolio-item.p-20.hover-3d.img-zoom.pf-illustrations.pf-media.pf-icons.pf-Media
            .portfolio-item-wrap
                .portfolio-image
                        img(src='images/teatro-gigi.jpg', alt='')
                .portfolio-description
                        a.btn.btn(href='https://www.lumelight.it/televisivo') Televisione
    hr.space
    .hr-title.hr-long.center
        abbr
            | Spettacoli teatrali | Settore Navale
    .portfolio-2-columns
        .portfolio-item.p-20.hover-3d.img-zoom.pf-illustrations.pf-media.pf-icons.pf-Media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/teatro-gigi.jpg', alt='')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/teatri') Teatro
    .portfolio-2-columns
        .portfolio-item.p-20.hover-3d.img-zoom.pf-illustrations.pf-media.pf-icons.pf-Media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/costa.jpg', alt='')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/navale') Navi
    hr.space
    .hr-title.hr-long.center
        abbr
            | Modelli | Disco e Club 
    .portfolio-2-columns
        .portfolio-item.p-20.hover-3d.img-zoom.pf-illustrations.pf-media.pf-icons.pf-Media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/modelli3d.jpg', alt='')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/modelli') Modelli 3D
    .portfolio-2-columns
        .portfolio-item.p-20.hover-3d.img-zoom.pf-illustrations.pf-media.pf-icons.pf-Media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/disco&club.jpg', alt='')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/disco-club') Disco e Club
    hr.space