extends layout
block content
    section.parallax.fullscreen.background-image(style='background-image:url(images/disco-club.jpg);')              
    .container
        .heading.heading.text-left
            .page-title
                hr.space
                h1 Disco e Club
        .row
            .col-md-6(data-animation='fadeInUp', data-animation-delay='300') 
                p
                | Si apre una nuova finestra nel panorama Disco!
                br
                br
                | La possibilità di pre-visualizzare e pre-programmare l’intero spettacolo luci e cambiarne le caratteristiche ogni qualvolta se ne ha necessità, diventa aspetto fondamentale per lìesperienza sensoriale del cliente.
            .col-md-6(data-animation='fadeInUp', data-animation-delay='600')    
                p
                | Stupisci con laser ed effetti video su Led Wall  sono integrati nel software di pre-visualizzazione così da capire dove meglio posizionarli e come meglio programmarli. 
                br
                br
                | Esaltare l’esperienza finale del cliente è la nostra missione perché farlo prima è meglio!
    br
    br
    section#youtube
        .container
            iframe(width='560', height='315', src='https://www.youtube.com/embed/USKJkNaET6c?rel=0&amp;controls=0&amp;showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
    section.gallery
    .hr-title.hr-long.center
        abbr Altri settori
    .carousel
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/nave1.jpg', alt='wysiwing settore navale')
                .portfolio-description
                     a.btn.btn(href='https://www.lumelight.it/settore-navale') Settore Navale
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/teatro-gigi.jpg', alt='wysiwing settore televisivo')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/settore-televisivo') Settore televisivo
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/navi.jpg', alt='wysiwing settore teatri')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/settore-teatrale') Teatro
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/live.jpg', alt='wysiwing settore disco e club')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/settore-live') Live