doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='creator', content='Lume Lighting - https://www.lumelight.it')
        meta(name='description', content='Componi inquadrature, scegli il punto di vista, redigi lo story-board in 3D, completa e programma il tuo lighting design, sincronizza audio alle tue scene.')
        title Lumelight.it - Pre-Visualizzazione e Pre-Programmazione professionale con Wysiwyg
        link(href='stylesheets/plugins.css', rel='stylesheet')
        link(href='stylesheets/style.css', rel='stylesheet')
        link(href='stylesheets/responsive.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,600|Montserrat:400,500,600,700|Raleway:100,300,600,700,800', rel='stylesheet', type='text/css')
        link(rel='stylesheet', type='text/css', href='fonts/fontawesome-webfont.ttf')
        style.
            .async-hide { opacity: 0 !important}   
        // Global site tag (gtag.js) - Google Analytics
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-97982257-5')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-97982257-5');
    body
        #wrapper
        header#header.header-transparent.header-fullwidth.header-plain.dark
          #header-wrap
            .container
              #mainMenu-trigger
                button.lines-button.x
                  span.lines
              #mainMenu.light
                .container
                  nav
                    ul
                      li
                        a(href='https://www.lumelight.it') Home
                      li.dropdown
                        a(href='https://www.lumelight.it/servizi') Servizi
                        ul.dropdown-menu
                          li
                            a(href='https://www.lumelight.it/settore-live') Live
                          li
                            a(href='https://www.lumelight.it/settore-televisivo') Televisivo
                          li
                            a(href='https://www.lumelight.it/settore-teatrale') Teatri
                          li
                            a(href='https://www.lumelight.it/settore-navale') Navale
                          li
                            a(href='https://www.lumelight.it/settore-discoteche-club') Disco | Club
                      li
                        a(href='https://www.lumelight.it/corsi') Corsi
                      li
                        a(href='https://www.lumelight.it/about') About
                      li
                        a(href='https://www.lumelight.it/contatti') Contatti
    section.parallax.fullscreen.background-image(style='background-image:url(images/miss-italia.jpg);')              
    .container
        .heading.heading.text-left
            .page-title
                hr.space
                h1 Studi televisivi, sceneggiatura video e story-board animati.
                h2 Luci, panoramiche, carrellate, elevazioni, skycam e movimenti di camera a completa disposizione.
        .row
            .col-md-6(data-animation='fadeInUp', data-animation-delay='300')
                p
                | Negli spettacoli televisivi la pre-programmazione e la pre-visualizzazione giocano un ruolo innovativo di notevole risalto, sia per chi immagina e programma lo show sia per chi dovrà poi interpretarlo e viverlo da protagonista, offrendo la possibilità di visualizzare in tempo reale l’effetto del risultato di quello che andrà in onda. 
                br
            .col-md-6(data-animation='fadeInUp', data-animation-delay='600')
                p
                | Il regista vedrà concretamente ciò che aveva immaginato con la possibilità di intervenire su eventuali modifiche di regia. I protagonisti controlleranno minuziosamente la propria presenza in scena. Il Light designer troverà il setup migliore con i componenti adeguati per la riuscita dello spettacolo, progettando e pre-programmando in anticipo direttamente con il nostro software.
                br   
    br
    br
    section#youtube
        .container
            iframe(width='560', height='315', src='https://www.youtube.com/embed/G6Q1hvfiTNM?rel=0&amp;controls=0&amp;showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
    section.gallery
    .hr-title.hr-long.center
        abbr Altri settori
    .carousel
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/nave1.jpg', alt='wysiwing settore navale')
                .portfolio-description
                     a.btn.btn(href='https://www.lumelight.it/settore-navale') Settore Navale
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/live.jpg', alt='wysiwing live')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/settore-live') Live
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/navi.jpg', alt='wysiwing settore teatri')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/settore-teatrale') Teatro
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/disco&club.jpg', alt='wysiwing settore disco e club')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/settore-discoteca-club') Disco | Club
    // Footer
    footer#footer.footer-light
        .footer-content
            .container
               .row
                    .col-md-4
                        .widget.widget-contact-us(style="background-image: url('images/world-map-dark.png'); background-position: 50% 20px; background-repeat: no-repeat")
                            h4 Lume Lighting
                            br
                            br
                            br
                            br
                            br
                            br
                    .col-md-4
                        .grid-item
                            .widget
                            h4.widget-title Seguimi su
                             .social-icons.social-icons-medium.social-icons-rounded.social-icons-colored
                                ul
                                li.social-facebook
                                    a(href='https://www.facebook.com/profile.php?id=100008548147932')
                                        i.fa.fa-facebook
                                li.social-youtube
                                    a(href='https://www.youtube.com/channel/UCog2U5e7sd0L5vNJvMbJTNA?view_as=subscriber')
                                        i.fa.fa-youtube
                                li.social-linkedin
                                    a(href='https://www.linkedin.com/feed/')
                                        i.fa.fa-linkedin
        .copyright-content
            .container
                .copyright-text.text-center
                    | &copy; 2018 LUME LIGHTING Via Mantegna 40 - 64026 - P.Iva 01891700674 CREATIVE LIGHT. All Rights Reserved.
        a#goToTop
            i.fa.fa-angle-up.top-icon
            i.fa.fa-angle-up
        script(src='js/jquery.js')
        script(src='js/plugins.js')
        script(src='js/functions.js')
        script(src='js/plugin/components/particles.js', type='text/javascript')
        script(src='js/plugin/components/particles-animation.js', type='text/javascript')
