extends layout
block content
    section.parallax.fullscreen.background-image(style='background-image:url(images/miss-italia.jpg);')              
    .container
        .heading.heading.text-left
            .page-title
                hr.space
                h1 Settore televisivo
        .row
            .col-md-6(data-animation='fadeInUp', data-animation-delay='300')
                p
                | Negli spettacoli televisivi la pre-programmazione e la pre-visualizzazione giocano un ruolo innovativo di no-tevole risalto, sia per chi immagina e programma lo show sia per chi dovrà poi interpretarlo e viverlo da protagonista, offrendo la possibilità di visualizzare in tempo reale l’effetto del risultato di quello che andrà in onda. 
                br
            .col-md-6(data-animation='fadeInUp', data-animation-delay='600')
                p
                | Il regista vedrà concretamente ciò che aveva immaginato con la possibilità di intervenire su eventuali modifiche di regia. I protagonisti controlleranno minuziosamente la propria presenza in scena. Il Light designer troverà il setup migliore con i componenti adeguati per la riuscita dello spettacolo, progettando e pre-programmando in anticipo direttamente con il nostro software.
                br   
    br
    br
    section#youtube
        .container
            iframe(width='560', height='315', src='https://www.youtube.com/embed/G6Q1hvfiTNM?rel=0&amp;controls=0&amp;showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
    section.gallery
    .hr-title.hr-long.center
        abbr Altri settori
    .carousel
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/nave1.jpg', alt='wysiwing settore navale')
                .portfolio-description
                     a.btn.btn(href='https://www.lumelight.it/navale') Settore Navale
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/live.jpg', alt='wysiwing live')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/live') Live
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/navi.jpg', alt='wysiwing settore teatri')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/teatri') Teatro
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/disco&club.jpg', alt='wysiwing settore disco e club')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/disco-club') Disco | Club
