extends layout
block content
    section.parallax.fullscreen.background-image(style='background-image:url(images/live.jpg);')              
    .container
        .heading.heading.text-left
            .page-title
                hr.space
                h1 LIVE SHOW
        .row
            .col-md-6(data-animation='fadeInUp', data-animation-delay='600')
                p
                | Nel panorama degli spettacoli live, il nostro nuovo modo di lavorare rappresenta la svolta tecnologica e pratica per un grande risparmio in termini di tempo e soprattutto di risorse economiche.   
                br
                br
                | Sia le grandi quanto le medie o piccole produzioni avranno la possibilità di pre-programmare e progettare lo show anticipatamente e nella tranquillità del proprio ambiente di lavoro, evitando trasferte costose e allestimenti tecnici inadeguati, utilizzando le proprie console luci e Media Server per svolgere al meglio l'intero lavoro creativo.
            .col-md-6(data-animation='fadeInUp', data-animation-delay='600')
                p
                | La nostra idea di tecnologia è da sempre incentrata su risparmio di tempo e denaro man-tenendosi su canoni di immediatezza e risultando un efficace supporto per tecnici ed artisti.
                br
    section.gallery
    .hr-title.hr-long.center
        abbr Altri settori
    .carousel
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/nave1.jpg', alt='wysiwing settore navale')
                .portfolio-description
                     a.btn.btn(href='https://www.lumelight.it/navale') Settore Navale
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/teatro-gigi.jpg', alt='wysiwing settore televisivo')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/televisivo') Settore televisivo
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/navi.jpg', alt='wysiwing settore teatri')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/teatri') Teatro
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/disco&club.jpg', alt='wysiwing settore disco e club')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/disco-club') Disco | Club