extends layout

block content
    section.parallax.fullscreen.background-image(style='background-image:url(images/teatro.jpg);')              
    .container
        .heading.heading.text-left
            .page-title
                h1 Teatro
        .row
            .col-md-6(data-animation='fadeInUp', data-animation-delay='300') 
                p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis.
                br
                br
                | Facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius.
            .col-md-6(data-animation='fadeInUp', data-animation-delay='600')
                p
                | Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo.
                br
                br
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volut.
    br
    br
    section#youtube
        .container
            iframe(width='560', height='315', src='https://www.youtube.com/embed/jw1P9odTvX4?rel=0&amp;controls=0&amp;showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
    section.gallery
    .hr-title.hr-long.center
        abbr Altri settori
    .carousel
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/nave1.jpg', alt='wysiwing settore navale')
                .portfolio-description
                     a.btn.btn(href='https://www.lumelight.it/navale') Settore Navale
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/teatro-gigi.jpg', alt='wysiwing settore televisivo')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/televisivo') Settore televisivo
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/live.jpg', alt='wysiwing live')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/live') Live
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/disco&club.jpg', alt='wysiwing settore disco e club')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/disco-club') Disco | Club
        .portfolio-item.img-zoom.pf-illustrations.pf-uielements.pf-media
            .portfolio-item-wrap
                .portfolio-image
                    img(src='images/modelli3d.jpg', alt='wysiwing settore disco e club')
                .portfolio-description
                    a.btn.btn(href='https://www.lumelight.it/modelli') Modelli