extends layout

block content
    // SECTION IMAGE FULLSCREEN
    section.parallax.fullscreen.background-image(style='background-image:url(images/teatro.jpg);')              
    // end: SECTION IMAGE FULLSCREEN
    // DDESCRIPTION H1-H2-H3
    .container
        br
        h1.font-raleway Teatro
        .row
            .col-md-6(data-animation='fadeInUp', data-animation-delay='300') 
                p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis.
                br
                br
                | Facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius.
            .col-md-6(data-animation='fadeInUp', data-animation-delay='600')
                p
                | Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo.
                br
                br
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volut.
    br
    br
    // SECTION IMAGE FULLSCREEN
    section#youtube
        .container
            iframe(width='560', height='315', src='https://www.youtube.com/embed/jw1P9odTvX4?rel=0&amp;controls=0&amp;showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')